// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';

// Definir colores personalizados
$primary-color: #091e35; // Color principal
$active-color: #f8fcff;   // Color para el estado activo

// Sobrescribir las variables de Bootstrap si es necesario
$link-color: $primary-color;
$link-hover-color: darken($primary-color, 15%);
$link-active-color: $active-color;
